	    
.webpage_header_menu {
    border:1pt;border-style:solid;border-color:black
}

.portal {
   font-family:'Arial';
}

.portal_welcome {
   font-family:'Arial';
   font-size:15pt;
   min-width:350pt
}

.portal_menu {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight:bold;
   font-size:12pt;
   height:15t
}

.manager_menu_topright {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size:12pt;
}

.manager_login_table_header {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background:rgb(155, 114, 155);
   font-weight:bold;
   font-size:12pt;
   height:13pt
}


.manager_header {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background:rgb(155, 114, 155);
   font-weight:bold;
   font-size:12pt;
   height:13pt
}

.manager_header2 {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background:rgb(155, 114, 155);
   font-weight:bold;
   font-size:10pt;
   height:13pt
}

.manager_form_row {	
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background:rgb(155, 114, 155);
   font-weight:bold;
   font-size:12pt;
   height:15pt   	
}

.manager_form_cell {	
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight:bold;
   font-size:12pt;
   height:15pt	
}

.employee_menu {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background:rgb(202, 123, 49);
   font-weight:bold;
   font-size:12pt;
   height:15pt
}

.employee_header2 {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background:rgb(202, 123, 49);
   font-weight:bold;
   font-size:12pt;
   height:12pt
}

.username {
   color:Gray
}

.login_submit {
   font-family:sans-serif;
   font-size:12pt;
   background:white
}

.manager_login_form {
   font-family:sans-serif;
   font-size: 12px;
   font-weight:bold;
   background:rgb(155, 114, 155)
}

.employee_login_form {
   font-family:sans-serif;
   font-size: 12px;
   font-weight:bold;
   background:rgb(202, 123, 49)
}

.login_form_text_input{
   font-family:sans-serif;
   font-size:10pt;
   font-weight:bold;
   color:gray
}

.login_form_input{
   font-family:sans-serif;
   font-size:10pt;
   font-weight:bold
}

.login_form_title{
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size:20pt;
   font-weight:bold
}

.tdl {
   font-size: 8pt;
   font-family:sans-serif;
   text-align:left
}

.tdr {
   font-size: 8pt;
   font-family:sans-serif;
   text-align:right
}

a {
   color:black;
   text-decoration:underline;
}
a:default{
    color:black;
    text-decoration:none;
}
a:visited {
   color:black
}
a:hovered {
   color:blue;
   text-decoration:none;
}
a:active {
   color:blue;
   text-decoration:none
}


